---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "hush-secretless.spireAgentFullName" . }}
  labels: {{- include "hush-common.labels" . | nindent 4 }}
    app.kubernetes.io/component: spire-agent
  namespace: {{ include "hush-common.namespace" . }}

spec:
  selector:
    matchLabels: {{- include "hush-common.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: spire-agent
  updateStrategy:
    type: RollingUpdate

  template:
    metadata:
      labels: {{- include "hush-common.labels" . | nindent 8 }}
        app.kubernetes.io/component: spire-agent
      {{ with .Values.spireAgent.annotations -}}
      annotations: {{- . | nindent 8 }}
      {{- end }}

    spec:
      {{- with .Values.spireAgent.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      {{- with .Values.spireAgent.nodeSelector }}
      nodeSelector: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.spireAgent.tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.spireAgent.affinity }}
      affinity: {{- toYaml . | nindent 8 }}
      {{- end }}
      hostPID: true
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      restartPolicy: Always
      {{- with (include "hush-common.kubeImagePullSecretEffectiveList" .) }}
      imagePullSecrets: {{- . | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.spireAgent.terminationGracePeriodSeconds }}
      serviceAccountName: {{ include "hush-secretless.spireAgentFullName" . }}
      volumes:
        - name: data-volume
          emptyDir:  {}
        - name: spire-agent-socket-dir
          hostPath:
            path: {{ .Values.spireAgent.hostDir }}
            type: DirectoryOrCreate
        - name: spire-bundle
          configMap:
            name: {{ include "hush-secretless.spireBundleConfigMapName" . }}
        - name: spire-agent-psat
          projected:
            sources:
              - serviceAccountToken:
                  path: spire-agent
                  expirationSeconds: 600
                  audience: spire-server
        {{- if not .Values.spireAgent.skipKubeletVerification }}
        - name: kubelet-cert-dir
          hostPath:
            path: {{ .Values.spireAgent.kubeletCertDir | quote }}
            type: Directory
        {{- end }}
      containers:
        - name: spire-agent
          image: {{ include "hush-secretless.spireAgentImagePath" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with and .Values.spireAgent .Values.spireAgent.resources }}
          resources: {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: data-volume
              mountPath: {{ include "hush-secretless.dataVolumeMountPath" . }}
            - name: spire-agent-socket-dir
              mountPath: {{ include "hush-secretless.spireAgentSocketDirMountPath" . }}
            - name: spire-bundle
              mountPath: /run/spire/bundle
              readOnly: true
            - name: spire-agent-psat
              mountPath: /var/run/secrets/tokens
            {{- if not .Values.spireAgent.skipKubeletVerification }}
            - name: kubelet-cert-dir
              mountPath: {{ include "hush-secretless.kubeletCertDirMountPath" . }}
              readOnly: true
            {{- end }}
          env:
            {{- include "hush-secretless.mandatoryEnvs" . | nindent 12 }}
            - name: MUFASA_SPIRE_AGENT_SERVER_HOSTNAME
              value: {{ include "hush-secretless.managerServiceShortName" . }}
            - name: MUFASA_SPIRE_AGENT_K8S_KUBELET_CA_PATH
              value: {{ include "hush-secretless.kubeletCertFilePath" . }}
            - name: MUFASA_SPIRE_AGENT_SKIP_KUBELET_VERIFICATION
              value: {{ .Values.spireAgent.skipKubeletVerification | quote }}
