{{/*
Create a default fully qualified app name for Access Manager.
*/}}
{{- define "hush-am.accessManagerFullName" -}}
{{- printf "%s-access-manager" (include "hush-common.fullName" .) | trunc 63 }}
{{- end }}

{{/*
Create a default fully qualified app name for Spire Agent
*/}}
{{- define "hush-am.spireAgentFullName" -}}
{{- printf "%s-spire-agent" (include "hush-common.fullName" .) | trunc 63 }}
{{- end }}

{{/*
The name of Role to update spire server's bundle publisher ConfigMap.
*/}}
{{- define "hush-am.spireBundleRoleFullName" -}}
{{- printf "%s-spire-bundle-role" (include "hush-common.fullName" .) | trunc 63 }}
{{- end }}

{{/*
Create a default name for the common ClusterRole.
*/}}
{{- define "hush-am.clusterRoleFullName" -}}
{{- printf "%s-common" (include "hush-common.fullName" .) | trunc 63 }}
{{- end }}

{{/*
Create a default name for the spire server ClusterRole.
*/}}
{{- define "hush-am.spireServerClusterRoleFullName" -}}
{{- printf "%s-spire-server" (include "hush-common.fullName" .) | trunc 63 }}
{{- end }}

{{/*
The name of ConfigMap for spire server's bundle publisher.
*/}}
{{- define "hush-am.spireBundleConfigMapName" -}}
spire-bundle
{{- end }}

{{/*
Image tag to use
*/}}
{{- define "hush-am.imageTag" -}}
{{- if and .Values.image .Values.image.tag -}}
  {{- .Values.image.tag -}}
{{- else -}}
  {{- .Chart.AppVersion -}}
{{- end -}}
{{- end }}

{{/*
Image path for Access Manager container.
*/}}
{{- define "hush-am.accessManagerImagePath" -}}
{{- $ctx := dict
    "registry" (include "hush-common.imageRegistry" .)
    "repository" .Values.image.accessManagerRepository
    "tag" (include "hush-am.imageTag" .)
-}}
{{- include "hush-common.buildImagePath" $ctx -}}
{{- end }}

{{/*
Image path for Access Manager Vector container.
*/}}
{{- define "hush-am.accessManagerVectorImagePath" -}}
{{- $ctx := dict
    "registry" (include "hush-common.imageRegistry" .)
    "repository" .Values.image.accessManagerVectorRepository
    "tag" (include "hush-am.imageTag" .)
-}}
{{- include "hush-common.buildImagePath" $ctx -}}
{{- end }}

{{/*
Image path for Spire Server container.
*/}}
{{- define "hush-am.spireServerImagePath" -}}
{{- $ctx := dict
    "registry" (include "hush-common.imageRegistry" .)
    "repository" .Values.image.spireServerRepository
    "tag" (include "hush-am.imageTag" .)
-}}
{{- include "hush-common.buildImagePath" $ctx -}}
{{- end }}

{{/*
Image path for Spire Agent container.
*/}}
{{- define "hush-am.spireAgentImagePath" -}}
{{- $ctx := dict
    "registry" (include "hush-common.imageRegistry" .)
    "repository" .Values.image.spireAgentRepository
    "tag" (include "hush-am.imageTag" .)
-}}
{{- include "hush-common.buildImagePath" $ctx -}}
{{- end }}

{{/*
Image path for Admission Controller container.
*/}}
{{- define "hush-am.admissionControllerImagePath" -}}
{{- $ctx := dict
    "registry" (include "hush-common.imageRegistry" .)
    "repository" .Values.image.admissionControllerRepository
    "tag" (include "hush-am.imageTag" .)
-}}
{{- include "hush-common.buildImagePath" $ctx -}}
{{- end }}

{{/*
Image path for Injector container.
*/}}
{{- define "hush-am.injectorImagePath" -}}
{{- $base := printf "%s/%s" .Values.image.anonymousRegistry .Values.image.injectorRepository -}}
{{- if and .Values.image .Values.image.injectorTag -}}
  {{- printf "%s:%s" $base .Values.image.injectorTag -}}
{{- else -}}
  {{ $base }}
{{- end -}}
{{- end }}

{{/*
Image pull policy for the injector image.
*/}}
{{- define "hush-am.injectorImagePullPolicy" -}}
{{- if and .Values.image .Values.image.injectorPullPolicy -}}
  {{ .Values.image.injectorPullPolicy }}
{{- else if not (and .Values.image .Values.image.injectorTag) -}}
  {{- printf "IfNotPresent" -}}
{{- else -}}
  {{- printf "Always" -}}
{{- end -}}
{{- end }}

{{/*
Data volume mount path
*/}}
{{- define "hush-am.dataVolumeMountPath" -}}
/mnt/data
{{- end }}

{{/*
Spire Server persistent data dir path
*/}}
{{- define "hush-am.spireServerDataDirPath" -}}
{{- printf "%s/spire/server" (include "hush-am.dataVolumeMountPath" .) -}}
{{- end }}

{{/*
Spire Server socket dir mount path
*/}}
{{- define "hush-am.spireServerSocketDirMountPath" -}}
/tmp/spire-server
{{- end }}

{{/*
Spire Server socket dir path
*/}}
{{- define "hush-am.spireServerSocketDirPath" -}}
{{- printf "%s/private" (include "hush-am.spireServerSocketDirMountPath" .) -}}
{{- end }}

{{/*
Spire Server socket path
*/}}
{{- define "hush-am.spireServerSocketPath" -}}
{{- printf "unix://%s/api.sock" (include "hush-am.spireServerSocketDirPath" .) -}}
{{- end }}

{{/*
Spire Server log dir mount path
*/}}
{{- define "hush-am.spireServerLogDirMountPath" -}}
/var/log/spire
{{- end }}

{{/*
Spire Agent socket dir mount path
*/}}
{{- define "hush-am.spireAgentSocketDirMountPath" -}}
/tmp/spire-agent
{{- end }}

{{/*
Spire Agent socket path
*/}}
{{- define "hush-am.spireAgentSocketPath" -}}
{{- printf "unix://%s/public/api.sock" (include "hush-am.spireAgentSocketDirMountPath" .) -}}
{{- end }}

{{/*
Access Manager Service Short Name
*/}}
{{- define "hush-am.accessManagerServiceShortName" -}}
{{- printf "%s.%s.svc"
    (include "hush-am.accessManagerFullName" .)
    (include "hush-common.namespace" .)
-}}
{{- end }}

{{/*
Access Manager Service FQDN
*/}}
{{- define "hush-am.accessManagerServiceFqdn" -}}
{{- printf "%s.%s"
    (include "hush-am.accessManagerServiceShortName" .)
    .Values.clusterDomain
-}}
{{- end }}

{{/*
Which address access manager REST API server should bind to?
*/}}
{{- define "hush-am.accessManagerRestBindAddress" -}}
{{- printf ":%d" (int64 .Values.accessManager.port) -}}
{{- end }}

{{/*
Access Manager Rest Server address
*/}}
{{- define "hush-am.accessManagerRestAddress" -}}
{{- printf "%s:%d" (include "hush-am.accessManagerServiceShortName" .) (int64 .Values.accessManager.port) -}}
{{- end }}

{{/*
Access Manager Service Cert Alt Names
*/}}
{{- define "hush-am.accessManagerServiceAltNames" -}}
{{- printf "DNS:%s,DNS:%s"
    (include "hush-am.accessManagerServiceFqdn" .)
    (include "hush-am.accessManagerServiceShortName" .)
-}}
{{- end }}

{{/*
Access Manager data directory path
*/}}
{{- define "hush-am.accessManagerDataDirPath" -}}
{{- printf "%s/hush/access-manager" (include "hush-am.dataVolumeMountPath" .) -}}
{{- end }}

{{/*
Admission Controller data directory path
*/}}
{{- define "hush-am.admissionControllerDataDirPath" -}}
{{- printf "%s/hush/admission-controller" (include "hush-am.dataVolumeMountPath" .) -}}
{{- end }}

{{/*
Policy DB file path
*/}}
{{- define "hush-am.policyDbFilePath" -}}
{{- printf "%s/policydb.sqlite3" (include "hush-am.accessManagerDataDirPath" .) -}}
{{- end }}

{{/*
Key DB file path
*/}}
{{- define "hush-am.keyDbFilePath" -}}
{{- printf "%s/keydb.sqlite3" (include "hush-am.accessManagerDataDirPath" .) -}}
{{- end }}

{{/*
Acr DB file path
*/}}
{{- define "hush-am.acrDbFilePath" -}}
{{- printf "%s/acrdb.sqlite3" (include "hush-am.accessManagerDataDirPath" .) -}}
{{- end }}

{{/*
Kubelet certificate directory mount path
*/}}
{{- define "hush-am.kubeletCertDirMountPath" -}}
{{ .Values.spireAgent.kubeletCertDir }}
{{- end }}

{{/*
Kubelet certificate file path
*/}}
{{- define "hush-am.kubeletCertFilePath" -}}
{{- printf "%s/%s" (include "hush-am.kubeletCertDirMountPath" .) .Values.spireAgent.kubeletCertFile -}}
{{- end }}

{{/*
Mutating webhook name
*/}}
{{- define "hush-am.mutatingWebhookFullName" -}}
{{- printf "%s-mutating-webhook" (include "hush-common.fullName" .) -}}
{{- end }}

{{/*
Mutating webhook FQDN
*/}}
{{- define "hush-am.mutatingWebhookFqdn" -}}
{{- printf "%s.webhook.local" (include "hush-am.mutatingWebhookFullName" .) -}}
{{- end }}

{{/*
Silo namespace prefix
*/}}
{{- define "hush-am.siloNamespacePrefix" -}}
{{- $prefix := and .Values.secretStore .Values.secretStore.prefix -}}
{{- if not (regexMatch "^[a-z][a-z0-9]{0,9}$" $prefix) -}}
    {{- fail "'secretStore.prefix' is invalid" -}}
{{- end -}}
{{ $prefix }}
{{- end }}

{{/*
Secret store AWS region
*/}}
{{- define "hush-am.siloAwsRegion" -}}
{{- $region := and (and .Values.secretStore .Values.secretStore.aws) .Values.secretStore.aws.region -}}
{{- if not $region -}}
    {{- fail "'secretStore.aws.region' must be defined for AWS secret store" -}}
{{- end -}}
{{ $region }}
{{- end }}

{{/*
K8S Secrets Silo namespace to use
*/}}
{{- define "hush-am.kubeSiloNamespace" -}}
{{- if .Values.secretStore.k8s.namespace -}}
  {{- .Values.secretStore.k8s.namespace -}}
{{- else -}}
  {{- include "hush-common.namespace" . -}}
{{- end -}}
{{- end }}

{{/*
Is K8S Silo using self namespace to store secrets?
*/}}
{{- define "hush-am.kubeSiloUsesSelfNamespace" -}}
{{- $namespace := include "hush-common.namespace" . -}}
{{- $kubeSiloNamespace := .Values.secretStore.k8s.namespace -}}
{{- if or (not $kubeSiloNamespace) (eq $namespace $kubeSiloNamespace) -}}
true
{{- end -}}
{{- end }}

{{/*
Parse AWS Access Token parameters
*/}}
{{- define "hush-am.awsAccessToken" -}}
{{- $secretAccessKey := dig "secret_access_key" "" . -}}
{{- $accessKeyId := dig "access_key_id" "" . -}}
{{- $sessionToken := dig "session_token" "" . -}}
{{- if and $secretAccessKey $accessKeyId -}}
{{- dict
    "secret_access_key" $secretAccessKey
    "access_key_id" $accessKeyId
    "session_token" $sessionToken
    | toYaml
-}}
{{- end -}}
{{- end }}

{{/*
Secret store AWS access token
*/}}
{{- define "hush-am.siloAwsAccessToken" -}}
{{- with (dig "aws" "access_key" "" .Values.secretStore) -}}
    {{- include "hush-am.awsAccessToken" . -}}
{{- end -}}
{{- end }}

{{/*
Silo env vars
*/}}
{{- define "hush-am.siloEnvs" -}}
{{- $siloKind := and .Values.secretStore .Values.secretStore.kind -}}
{{- if eq $siloKind "awssm" -}}
- name: SILO_KIND
  value: "awssm"
- name: SILO_NAMESPACE_PREFIX
  value: {{ include "hush-am.siloNamespacePrefix" . | quote }}
- name: SILO_AWS_SM_REGION
  value: {{ include "hush-am.siloAwsRegion" . | quote }}
    {{- with (include "hush-am.siloAwsAccessToken" . | fromYaml) }}
- name: AWS_SECRET_ACCESS_KEY
  value: {{ .secret_access_key | quote }}
- name: AWS_ACCESS_KEY_ID
  value: {{ .access_key_id | quote }}
        {{- if .session_token }}
- name: AWS_SESSION_TOKEN
  value: {{ .session_token | quote }}
        {{- end }}
    {{- end }}
{{- else if eq $siloKind "kubesecrets" -}}
- name: SILO_KIND
  value: "kubesecrets"
- name: SILO_NAMESPACE_PREFIX
  value: {{ include "hush-am.siloNamespacePrefix" . | quote }}
- name: SILO_K8S_NAMESPACE
  value: {{ include "hush-am.kubeSiloNamespace" . | quote }}
{{- else -}}
    {{- fail (printf "invalid secret store kind: %q" $siloKind) -}}
{{- end -}}
{{- end }}

{{- define "hush-am.admissionControllerRootCert" -}}
-----BEGIN CERTIFICATE-----
MIIBjTCCATOgAwIBAgIUDWQE72A0mJnVr5Irib43J+lv6XMwCgYIKoZIzj0EAwIw
FDESMBAGA1UEAwwJemF6dS1yb290MB4XDTI1MTEyNTA5NTIxNloXDTM1MTEyMzA5
NTIxNlowFDESMBAGA1UEAwwJemF6dS1yb290MFkwEwYHKoZIzj0CAQYIKoZIzj0D
AQcDQgAEMMqQj9UxEBLDOCxvJr/OgeKC3v0wWrVtqa1AIVB4MNYwO1FDPE5sQX7y
tXnQSGFhX0N4DP7Zmi0gdRIfAsduW6NjMGEwHQYDVR0OBBYEFEO53S/dH0DlUzGv
NcirsvwDZX/7MB8GA1UdIwQYMBaAFEO53S/dH0DlUzGvNcirsvwDZX/7MA8GA1Ud
EwEB/wQFMAMBAf8wDgYDVR0PAQH/BAQDAgEGMAoGCCqGSM49BAMCA0gAMEUCIH7S
bHRt42QaI/Wwt631nZXcTQeerGBJcHBe2bnvrrg8AiEAhtZszVJ7Gg25c4D42f/D
zdquv84vGcviev0hoiJTwaY=
-----END CERTIFICATE-----
{{- end }}

{{/*
Which address the admission controller should bind to?
*/}}
{{- define "hush-am.admissionControllerBindAddress" -}}
{{- printf ":%d" (int64 .Values.admissionController.port) -}}
{{- end }}

{{/*
Admission-controller mode of AWS Config for Container Registry access
*/}}
{{- define "hush-am.admissionControllerAwcEcrCfgMode" -}}
{{- $crIrsa := .Values.containerRegistry.aws.irsa -}}
{{- if $crIrsa -}}
default
{{- else -}}
ec2role
{{- end -}}
{{- end }}

{{/*
Annotations for access manager
*/}}
{{- define "hush-am.accessManagerServiceAccountAnnotations" -}}
{{- $secretStoreIrsa := .Values.secretStore.aws.irsa -}}
{{- $crIrsa := .Values.containerRegistry.aws.irsa -}}
{{- if and $secretStoreIrsa $crIrsa -}}
    {{- if ne $secretStoreIrsa $crIrsa -}}
        {{- fail "'secretStore.aws.irsa' and 'containerRegistry.aws.irsa' must be equal when both are defined" -}}
    {{- end -}}
{{- end -}}
{{- $irsa := or $secretStoreIrsa $crIrsa -}}
{{- if $irsa -}}
eks.amazonaws.com/role-arn: {{ $irsa | quote }}
{{- end }}
{{- with .Values.containerRegistry.gcp.sa }}
iam.gke.io/gcp-service-account: {{ . | quote }}
{{- end }}
{{- end }}

{{/*
Which secret to use for deployment token?
*/}}
{{- define "hush-am.effectiveDeploymentTokenKubeSecretRef" -}}
{{- if .Values.hushDeployment.token -}}
    {{- dict
        "name" (include "hush-common.deploymentKubeSecretName" .)
        "key" "deployment-token"
        | toYaml
    -}}
{{- else if and .Values.hushDeployment.secretKeyRef.name .Values.hushDeployment.secretKeyRef.tokenKey -}}
    {{- dict
        "name" .Values.hushDeployment.secretKeyRef.name
        "key" .Values.hushDeployment.secretKeyRef.tokenKey
        | toYaml
    -}}
{{- else -}}
    {{- dict
        "name" .Values.hushDeployment.sensorDeploymentSecretName
        "key" "deployment-token"
        | toYaml
    -}}
{{- end }}
{{- end }}

{{/*
Which secret to use for deployment password?
*/}}
{{- define "hush-am.effectiveDeploymentPasswordKubeSecretRef" -}}
{{- if .Values.hushDeployment.password -}}
    {{- dict
        "name" (include "hush-common.deploymentKubeSecretName" .)
        "key" "deployment-password"
        | toYaml
    -}}
{{- else if and .Values.hushDeployment.secretKeyRef.name .Values.hushDeployment.secretKeyRef.key -}}
    {{- dict
        "name" .Values.hushDeployment.secretKeyRef.name
        "key" .Values.hushDeployment.secretKeyRef.key
        | toYaml
    -}}
{{- else -}}
    {{- dict
        "name" .Values.hushDeployment.sensorDeploymentSecretName
        "key" "deployment-password"
        | toYaml
    -}}
{{- end }}
{{- end }}

{{/*
Mandatory envs
*/}}
{{- define "hush-am.mandatoryEnvs" -}}
{{- with (include "hush-am.effectiveDeploymentTokenKubeSecretRef" . | fromYaml) }}
- name: DEPLOYMENT_TOKEN
  valueFrom:
    secretKeyRef:
      name: {{ .name }}
      key: {{ .key }}
{{- end }}
- name: DEPLOYMENT_KIND
  value: k8s
- name: MUFASA_K8S_NAMESPACE
  valueFrom:
    fieldRef:
      fieldPath: metadata.namespace
{{- end }}

{{/*
Access Manager envs
*/}}
{{- define "hush-am.accessManagerEnvs" -}}
{{ include "hush-am.mandatoryEnvs" . }}
{{- with (include "hush-am.effectiveDeploymentPasswordKubeSecretRef" . | fromYaml) }}
- name: DEPLOYMENT_PASSWORD
  valueFrom:
    secretKeyRef:
      name: {{ .name }}
      key: {{ .key }}
{{- end }}
{{ include "hush-am.siloEnvs" . }}
- name: MUFASA_POLICY_DB_PATH
  value: {{ include "hush-am.policyDbFilePath" . }}
- name: MUFASA_KEY_DB_PATH
  value: {{ include "hush-am.keyDbFilePath" . }}
- name: MUFASA_ACR_DB_PATH
  value: {{ include "hush-am.acrDbFilePath" . }}
- name: MUFASA_SPIRESERVER_UDS_PATH
  value: {{ include "hush-am.spireServerSocketPath" . }}
- name: SIMBA_BIND_ADDRESS
  value: {{ include "hush-am.accessManagerRestBindAddress" . | quote }}
- name: SIMBA_SPIRE_AGENT_SOCKET_PATH
  value: {{ include "hush-am.spireAgentSocketPath" . }}
- name: SIMBA_X509_CTX_WAIT_DURATION
  value: "-1s"
- name: SIMBA_X509_CTX_WAIT_STEP
  value: "10s"
- name: MUFASA_K8S_SERVICE_ACCOUNT
  value: {{ include "hush-am.accessManagerFullName" . }}
- name: MUFASA_K8S_AGENT_SERVICE_ACCOUNT
  value: {{ include "hush-am.spireAgentFullName" . }}
- name: MUFASA_K8S_CONTAINER_NAME
  value: access-manager
{{- end }}

{{/*
Access Manager Kind
*/}}
{{- define "hush-am.accessManagerKind" -}}
{{- $kind := and .Values.accessManager .Values.accessManager.kind -}}
{{- $validKinds := list "deployment" "statefulset" -}}
{{- if not (has $kind $validKinds) -}}
    {{- fail (printf "'manager.kind' must be one of %v" $validKinds) -}}
{{- end -}}
{{- $kind -}}
{{- end }}

{{/*
Access Manager Pod Anti-Affinity rule
*/}}
{{- define "hush-am.accessManagerAntiAffinity" -}}
requiredDuringSchedulingIgnoredDuringExecution:
  - topologyKey: kubernetes.io/hostname
    labelSelector:
      matchLabels: {{- include "hush-common.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: access-manager
{{- end }}

{{/*
Access Manager affinity rules
*/}}
{{- define "hush-am.accessManagerAffinity" -}}
{{- $custom := (and .Values.accessManager .Values.accessManager.affinity) -}}
{{- if not $custom -}}
  {{- $custom = dict -}}
{{- end -}}
{{- if not (hasKey $custom "podAntiAffinity") -}}
  {{- $_ := set $custom "podAntiAffinity" (include "hush-am.accessManagerAntiAffinity" . | fromYaml) -}}
{{- end -}}
{{- $custom | toYaml -}}
{{- end }}

{{/*
Should access manager use host network?
*/}}
{{- define "hush-am.accessManagerHostNetwork" -}}
{{- $awsEcrCfgMode := include "hush-am.admissionControllerAwcEcrCfgMode" . -}}
{{- $noGcpSa := empty .Values.containerRegistry.gcp.sa -}}
{{- printf "%t" (and (eq $awsEcrCfgMode "ec2role") $noGcpSa) -}}
{{- end }}

{{/*
Access Manager DNS Policy
*/}}
{{- define "hush-am.accessManagerDnsPolicy" -}}
{{- $managerHostNetwork := include "hush-am.accessManagerHostNetwork" . -}}
{{- if eq $managerHostNetwork "true" -}}
ClusterFirstWithHostNet
{{- else -}}
ClusterFirst
{{- end -}}
{{- end }}

{{/*
Access Manager Priority Class Name
*/}}
{{- define "hush-am.accessManagerPriorityClassName" -}}
{{- if .Values.accessManager.priorityClassName -}}
  {{ .Values.accessManager.priorityClassName }}
{{- else -}}
  {{ include "hush-am.accessManagerFullName" . }}
{{- end -}}
{{- end }}

{{/*
List of image pull secrets to use
*/}}
{{- define "hush-am.kubeImagePullSecretEffectiveList" -}}
{{- with (include "hush-common.kubeImagePullSecretEffectiveList" .) -}}
  {{- . -}}
{{- else -}}
- name: {{ .Values.image.sensorImagePullSecretName | quote }}
{{- end }}
{{- end }}

{{/*
Spire Agent Priority Class Name
*/}}
{{- define "hush-am.spireAgentPriorityClassName" -}}
{{- if .Values.spireAgent.priorityClassName -}}
  {{ .Values.spireAgent.priorityClassName }}
{{- else -}}
  {{ include "hush-am.spireAgentFullName" . }}
{{- end -}}
{{- end }}
