{{- if .Values.sentry.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hush-sensor.sentryFullName" . }}
  labels: {{- include "hush-sensor.labels" . | nindent 4 }}
  namespace: {{ include "hush-sensor.namespace" . }}

spec:
  selector:
    matchLabels: {{- include "hush-sensor.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: sentry
  {{- with .Values.sentry.strategy }}
  strategy: {{- toYaml . | nindent 4 }}
  {{- end }}

  template:
    metadata:
      labels: {{- include "hush-sensor.labels" . | nindent 8 }}
        app.kubernetes.io/component: sentry
      {{ with .Values.sentry.annotations -}}
      annotations: {{- . | nindent 8 }}
      {{- end }}

    spec:
      {{- with .Values.sentry.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      {{- with .Values.sentry.nodeSelector }}
      nodeSelector: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sentry.tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sentry.affinity }}
      affinity: {{- toYaml . | nindent 8 }}
      {{- end }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      {{- with (include "hush-sensor.kubeImagePullSecretEffectiveList" .) }}
      imagePullSecrets: {{- . | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.sentry.terminationGracePeriodSeconds }}
      serviceAccountName: {{ include "hush-sensor.sentryFullName" . }}
      volumes:
        - name: vector-socket
          emptyDir:
            sizeLimit: 1Mi
        - name: sensor-config
          configMap:
            name: {{ include "hush-sensor.sensorConfigMapName" . }}
            items:
              - key: sentry_config
                path: config.yaml
        - name: host-dir
          hostPath:
            path: {{ .Values.hostDir }}
            type: DirectoryOrCreate
        {{- with and .Values.sentry .Values.sentry.extraVolumes -}}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      containers:
        - name: hush-sentry
          image: {{ include "hush-sensor.sentryImagePath" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with and .Values.sentry .Values.sentry.resources }}
          resources: {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: vector-socket
              mountPath: /tmp/vector
            - name: sensor-config
              mountPath: /opt/pluto/config/
              readOnly: true
            - name: host-dir
              mountPath: /var/lib/hush-security
            {{- with and .Values.sentry .Values.sentry.sentryExtraVolumeMounts -}}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          env:
            - name: SELF_K8S_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            {{- with (include "hush-sensor.effectiveDeploymentTokenKubeSecretRef" . | fromYaml) }}
            - name: DEPLOYMENT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .name }}
                  key: {{ .key }}
            {{- end }}
            {{- with (include "hush-sensor.effectiveDeploymentPasswordKubeSecretRef" . | fromYaml) }}
            - name: DEPLOYMENT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .name }}
                  key: {{ .key }}
            {{- end }}
            - name: DEPLOYMENT_KIND
              value: k8s
            - name: SENTRY_SCAN_CONFIG_MAPS
              value: "1"
            - name: PLUTO_CRAWL_K8S_SECRETSTORE
              value: "1"
            - name: PLUTO_CRAWL_K8S_ESO_SECRETSTORE
              value: "1"
        - name: hush-sentry-vector
          image: {{ include "hush-sensor.sensorVectorImagePath" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with and .Values.sentry .Values.sentry.vectorResources }}
          resources: {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: vector-socket
              mountPath: /tmp/vector
            - name: host-dir
              mountPath: /var/lib/hush-security
              readOnly: true
          env:
            {{- with (include "hush-sensor.effectiveDeploymentTokenKubeSecretRef" . | fromYaml) }}
            - name: DEPLOYMENT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .name }}
                  key: {{ .key }}
            {{- end }}
            {{- with (include "hush-sensor.effectiveDeploymentPasswordKubeSecretRef" . | fromYaml) }}
            - name: DEPLOYMENT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .name }}
                  key: {{ .key }}
            {{- end }}
            - name: DEPLOYMENT_KIND
              value: k8s
            - name: REPORT_APP_METRICS
              value: "1"
            - name: AGENT_ID_PATH
              value: "/var/lib/hush-security/sentry_uuid"
            - name: REPORT_SUBSYSTEM_NAME
              value: "pluto"
            - name: REPORT_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            {{- if .Values.eventReportingConsole }}
            - name: EVENT_REPORTING_CONSOLE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "hush-sensor.sensorConfigMapName" . }}
                  key: event_reporting_console
            {{- end }}
            - name: HELM_RELEASE
              value: {{ .Release.Name }}
            - name: HELM_NAMESPACE
              value: {{ include "hush-sensor.namespace" . }}
            - name: HELM_CHART_VERSION
              value: {{ .Chart.Version | quote }}
{{- end -}}
