---
name: Build
on:
  push:
    branches:
      - main
      - "**-ci"
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    env:
      NO_SYNC: "1"
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Linear PR history
        if: github.event_name == 'pull_request'
        uses: NexusPHP/no-merge-commits@v2.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Check Linear issue link
        if: github.event_name == 'pull_request'
        uses: gsactions/commit-message-checker@v2
        with:
          pattern: "^HUSH-[1-9][0-9]* "
          error: Linear issue link check failed
          excludeDescription: true
          checkAllCommitMessages: true
          accessToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install poetry
        uses: Gr1N/setup-poetry@v9
      - name: Install kube tools
        uses: yokawasa/action-setup-kube-tools@v0.13.1
        with:
          kubectl: '1.31.2'
          kubeconform: '0.6.7'
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0
      - name: Lint
        run: make lint
      - name: Tests
        env:
          VERBOSE: 1
        run: make tests
